{% extends 'layout.html' %}

{% block body %}

<h1>Ingreso Usuario</h1>
<form action="" method="POST">
    <p>Usuario</p>
    <input type="text" name="user" placeholder="Ingrese su usuario">
    <p>Password</p>
    <input type="password" name="pass" placeholder="Ingrese su contraseña">
    <p>Password</p>
    <input type="password" name="pass" placeholder="Ingrese su contraseña">
    <p>Password</p>
    <input type="password" name="pass" placeholder="Ingrese su contraseña">
    <input type="submit" value="Iniciar Sesión">
</form>

{% endblock %}