{% extends 'layout.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Actualizar datos del Restaurante</h1>

    <div class="form">
        <form action="/update/res/{{res.id}}" method="POST">


            <input style="padding: 5px; margin-top: 4px;" type="text" name="nombre" id="nombre"
                placeholder="Nombre del Restaurante" value="{{res.nombre}}" required>
            <br>
            <input style="padding: 5px; margin-top: 4px;" type="text" name="tipo" id="tipo"
                placeholder="Tipo del Restaurante" value="{{res.tipo}}" required>
            <br>
            <textarea style="padding: 5px; margin-top: 4px;" rows="5" cols="22" type="text" name="descripcion" id="descripcion"
                placeholder="Descripción">{{res.descripcion}}</textarea>
            <br>
            <input type="submit" value="Actualizar" style="padding: 5px; margin-top: 4px;">
        </form>
    </div>
</div>
{% endblock %}